[[source]]
verify_ssl = true
name = "pypi"
url = "https://pypi.python.org/simple"

[packages]
django = "==2.1.11"
requests = "==2.21.0"
beautifulsoup4 = "==4.7.1"
lxml = "==4.6.3"

[requires]
python_version = "3.6"
